@import '../../scss/mixins';
@import '../../scss/variables';

//Блок с формой обратной связи и текстом
.form-block {
    position: relative;
    width: 500px;
    padding: 50px 30px;
    margin: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    background-color: rgba(0, 0, 0, 0.918);

    z-index: 0;

    @include mediaNetbook {
        width: 400px;
        padding: 40px 20px;
    }
    @include mediaMobile {padding: 25px 20px;}
    @include mediaMin {padding: 20px 20px;}
}

.form {
    width: 100%;
    padding: 0px 10px 0px 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form__heading {
    margin: 0;
    margin-bottom: 40px;
    max-height: 100px;

    font-size: 45px;
    line-height: 120%;
    font-weight: 600;
    color: $form-heading;
    text-align: center;
    overflow: hidden;
    word-break: break-word;

    @include mediaNetbook {
        font-size: 40px;
        margin-bottom: 30px;
    }
    
    @include mediaMobile {
        font-size: 35px; 
        max-height: 90px;
    }

    @include mediaMin {
        font-size: 30px; 
        max-height: 80px;
    }
}

.form__description {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
    max-height: 88px;
    
    text-align: center;
    font-size: 15px;
    font-weight: 200;
    color: $form-text-color;
    line-height: 150%;
    letter-spacing: 1px;
    overflow: hidden;
    word-break: break-word;

    @include mediaNetbook {
        font-size: 14px;
        margin-bottom: 25px;
    }

    @include mediaMobile {
        max-height: 83px;
    }
}

//Инпуты формы
.form__input {
    position: relative;
    width: 100%;
    padding: 10px 5px 10px 5px;
    margin-bottom: 5px;

    outline: none;
    border: 0;

    box-sizing: border-box;
    border-bottom: 1px solid $input-border;
    background-color: transparent;

    cursor: pointer;

    color: $form-text-color;
    font-family: $font-family;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;

    transition: .2s;

    &::placeholder {
        font-size: 13px;
        font-weight: 300;
    }

    &:focus {
        border-bottom: 1px solid $input-border-active;
        transition: .5s;
    }

    @include mediaNetbook {font-size: 14px;}

    &_error {
        border-bottom: 1px solid $input-error;
        &:focus {
            border-bottom: 1px solid $input-error;
            transition: .5s;
        }
    }

}

.form__input_textarea {
    max-height: 150px;
    min-height: 50px;
    width: 100%;
    max-width: 100%;

    text-align: left;
    resize: vertical;

    transition: none;
    &:focus {
        transition: none;
    }
}

.form__input-error {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    margin-bottom: 10px;
    bottom: -5px;

    color: $input-error;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 11px;
    line-height: 150%;
    
    visibility: hidden;
    opacity: 0;
    transition: .2s;

    &_active {
        opacity: 1;
        visibility: visible;
        transition: .2s;
        bottom: 0px;
    }
    
    @include mediaMobile { margin-bottom: 3px;}
    @include mediaMobile { margin-bottom: 0px;}

}

.form__background {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.801);
}

.form__submit-btn {
    position: relative;
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    align-self: center;

    border-radius: 30px;
    background-color: transparent;
    border: 1px solid $form-text-color;

    text-align: center;
    color: $form-text-color;
    font-size: 18px;
    text-transform: uppercase;

    transition: .3s;
    opacity: 0.5;
    z-index: 1;
    transition: .3s;
    overflow: hidden;

    //Заполнение кнопки цветом при нажатии на кнопку
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color:  transparent;
        border-radius: 50%;
        left: 50%;
        bottom: -100%;
        transform: translate(-50%, 0);
        z-index: -1;

        transition: .3s;
        visibility: hidden;
    }

    &_active {
        transition: .3s;
        opacity: 1;
        cursor: pointer;

        &:hover {
            transition: .3s;
            border: 1px solid transparent;
            &::before {
                visibility: visible;
                background-color:  $submit-btn-color ;
                transition: .3s;
                width: 150px;
                height: 150px;
            }
        }
    }

    @include mediaNetbook {font-size: 16px;}

    @include mediaMobile {
        height: 40px;
        font-size: 15px;
        &:hover {
            &::before {
                width: 200px;
                height: 200px;
            }
        }
    }
         
}