@import '../../scss/mixins';
@import '../../scss/variables';

.footer {
    height: 100%;
    width: 70%;
    max-width: $breakpoint-max;
    min-width: $breakpoint-min;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mediaTablet {
        width: 100%;
        justify-content: center;
    }
}

.footer__paw-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: rotate(322deg);

    @include mediaMin {
        width: 30px;
        height: 30px;
    }
}