@import '../scss/variables';

@mixin animationSpinner {
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  
}

// Миксины для брейкпоинтов
@mixin mediaMin {
    @media (max-width: #{$breakpoint-min}) {
      @content;
    }
}

@mixin mediaNetbook {
  @media (max-width: #{$breakpoint-netbook}) {
    @content;
  }
}

@mixin mediaTablet{
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mediaMobile{
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

