@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

$font-family: 'Poppins', sans-serif;
$form-color: rgba(39, 39, 39, 0.808);
$form-text-color: #fff;

$input-border: rgba(255, 255, 255, 0.144);
$input-border-active: rgba(255, 255, 255, 0.603);
$input-error: rgb(227, 129, 21);

$form-heading: #deaa69;

$submit-btn-color: #ff8d02;
$popup-btn-color: #538ab5;

//Брейкпоинты
$breakpoint-max: 1920px;
$breakpoint-netbook: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 468px;
$breakpoint-min: 360px;
