@import './mixins';
@import './variables';
@import '../blocks/footer/footer.scss';
@import '../blocks/form-block/form-block.scss';
@import '../blocks/popup-form/popup-form.scss';
@import '../blocks/popup/popup.scss';
@import '../blocks/popup-button/popup-button.scss';
@import '../blocks/page/page.scss';
@import '../blocks/preloader/preloader.scss';


html {
    font-family: $font-family;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 120vh;
    margin: 0;
}


