@import '../../scss/mixins';
@import '../../scss/variables';

.popup {
    position: fixed;
    display: block;
    min-width: 360px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: rgba(24, 24, 24, 0.76);

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    transition: .5s;

    &_active {
        transition: .5s;
        visibility: visible;
        opacity: 1;
    }
}

